.DS_Store
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.idea
pubspec.lock
android/app/.externalNativeBuild/*
Podfile.lock
xcshareddata/
xcuserdata/
flutter_*.log
.vscode/
*.iml
.classpath
.project
.settings/
android/app/proguard/mapping.txt
android/app/proguard/seeds.txt
android/app/proguard/unused.txt
